@import '_colors.scss';
@import '_mixin.scss';

// .App {
//   text-align: center;
// }

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $bg-main-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: left;
  justify-content: left; */
  font-size: calc(5px + 2vmin);
  color: $primary-color;
}

.App-link {
  color: #09d3ac;
}

#hamburger-icon {
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1.5em;
  right: 2em;
  @include easeOut;

    .line-1 {
      width: 35px;
    }

    .line-2 {
      width: 30px;
      margin-left: 5px;
    }

    .line-3 {
      width: 25px;
      margin-left: 10px;
    }

    .btn-line {
      height: 2px;
      margin-top: 5px;
      margin-bottom: 5px;
      @include easeOut;
    }

    &.flick {
      transform: rotate(180deg);

      .btn-line {

        //Line 1 rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
          // background: $secondary-color;
        }

        //Line 2 Hide
        &:nth-child(2) {
          opacity: 0;
        }

        //Line 2 Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(4px, -2.5px);
        }
      }
    }
  }

  .black > div {
    background-color: #333;
  }
  .yellow > div {
    background: $bg-sec-color;
  }
.landing-section {
  position: relative;
  top: 35vh;
  max-width: 550px;
  line-height: 2;
  padding: 3.5em;
  text-align: left;
}

.rec-txt-yellow {
  padding: 0.5em;
  background-color: $bg-sec-color;
  margin-left: 1em;
  color: $bg-main-color;
}
h3, h5 {
  margin-bottom: 1em;
}
h5 {
  position: absolute;
  top: 2.1em;
  z-index: 2000;
  left: 1em;
}
.ruler {
  position: relative;
  height: 2px;
  width: 100px;
  background-color: $bg-sec-color;
}

.smaller-rec-txt {
  color: $bg-sec-color;
}
.clip {
  display: inline-block;
  width: 200px;
  position: relative;
  top: 3em;
  opacity: 0.8;
  height: 200px;
  margin: 0 auto;
  background: orange;
  cursor: pointer;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  animation: polygons 4s alternate infinite;
}

@keyframes polygons {
  25% {
    clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    opacity: 0.8;
    background: pink;
  }
  50% {
    clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    opacity: 0.8;
    background: orange;
  }
  75% {
    clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    opacity: 0.8;
    background: cornflowerblue;
  }
}
.arrow {
  position: absolute;
  bottom: 40px;
  right: 3em;
  cursor: pointer;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  border-style: solid;
  border-color: $bg-sec-color;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 200ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

main {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: left;
  // justify-content: left;
  // display: block;
  overflow: auto;
  font-size: calc(5px + 2vmin);
  color: $bg-main-color;
}

.rec-txt-black {
  padding: 0.8em;
  background-color: $bg-main-color;
  margin-left: 0.5em;
  color: $bg-sec-color;
}

.nav-links {
  position: fixed;
  padding-top: 2em;
  font-weight: 400;
  width: 100vw;
  text-align: center;
  z-index: 1000;

  a {
    position: relative;
    display: inline;
    margin: 1em;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    }
    &:hover:after {
    width: 100%;
    }
    &.current {
      border-bottom: 2px solid #fff;
    }
  }
}
.nav-active {
  display: none;
}
#orange {
      background-color: orange;
    }
#black {
      background-color: #333;
    }
#content {
position: relative;
top: 180px;
padding: 1em 0em;

h1 {
  text-align: center;
  color: #fff;
  opacity: 0.6;
}

  .draggable-slider {
    position: relative;
    display: grid;
    padding: 1rem;
    width: 100%;
    grid-template-columns: repeat(7, 400px);
    grid-column-gap: 3em;
    top: 10vh;
    user-select: none;
    white-space: nowrap;
    overflow:scroll;

    .slide {
      padding: 10px;
      line-height: 1;

      h3 {
        margin: 2px;
      }
      .slide-image {
        position: relative;
        width: 400px;
        height: 300px;
        background-color: #333;
        &::after {
          content : "";
        position: absolute;
        right    : -0.4em;
        z-index: 100;
        top  : 0;
        width  : 3px;
        height   : 50%;  /* or 100px */
        background-color: #ffeaa7;
        background-image: linear-gradient(315deg, #ffeaa7 0%, #413e3e 74%);
        }
         &::before {
          content : "";
        position: absolute;
        left: -0.5em;
        z-index: 100;
        top: 50%;
        width: 3px;
        height: 50%;  /* or 100px */
        background-color: #ffeaa7;
        background-image: linear-gradient(315deg, #ffeaa7 0%, #413e3e 74%);
        }
        img {
          width: 100%;
          height: 100%;
        }
        &:hover {
          .hover {
            position: absolute;
            animation: circle 2s ease-in-out;
            background: rgba(0, 0, 0, 0.4);
            clip-path: circle(75%);
            width: 100%;
            height: 100%;
            h1, p, button {
              display: block;
            }
          }
        }
      }
    }
  }
}
@keyframes circle {
  0% { clip-path: circle(75%); }
  50% { clip-path: circle(25%); }
  100% { clip-path: circle(75%); }
}
::-webkit-scrollbar {
    display: none;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  padding: 5%;
   form > * {
    display: block;
    width: 100%;
    margin-bottom: 1.2em;
    padding: 0.4em;
    background-color: #333;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font: 200 14px 'Oswald', sans-serif;
  }
  form .contact-feedback {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #333;
  }
  form input {
    height: 40px;
    background-color: rgb(27,27,27);
    &:focus {
      background-color: rgb(27,27,27);
    }
  }
 textarea {
   background-color: rgb(27,27,27);
 }
  form .send-btn {
    border: none;
    cursor: pointer;
    padding: 1em;
    color: #333;
    color: #fff;
    background-color: rgb(27,27,27);
    transition: background 400ms ease-in-out;

  &:hover {
    // background-position: 0;
  //   background: {
  //   image: linear-gradient(45deg,$bg-sec-color 50%, transparent 50%);
  //   position: 100%;
  //   size: 400%;
  // }
  background: $bg-sec-color;
    color: #333;
  }
  }

  .contact-details {
    color: #fff;
    p {
      margin-bottom: 1.2em;
      line-height: 2;
      opacity: 0.6;
      svg {
        margin-right: 1em;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/* Social Media */
.social-media-list {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -12px;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px;
  line-height: 55px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  position: relative;
  top: 2em;
  letter-spacing: 1px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
.nav-links {
  padding-top: 4em;
  text-align: left;
    a {
      display: block;
      float: left;
      clear: left;
      margin: 0.5em;

      }
  }
  .form-content {
  grid-template-columns: 1fr;
  grid-gap: 1em;
  }
  .copyright {
    margin-bottom: 2em;
  }
}